@font-face {
    font-family: 'MuseoSansRounded';
    src: url('../fonts/museosansrounded-300-webfont.eot');
    src: url('../fonts/museosansrounded-300-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/museosansrounded-300-webfont.woff') format('woff'),
    url('../fonts/museosansrounded-300-webfont.ttf') format('truetype'),
    url('../fonts/museosansrounded-300-webfont.svg#museo_sans_rounded300') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSansRounded';
    src: url('../fonts/museosansrounded-500-webfont.eot');
    src: url('../fonts/museosansrounded-500-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/museosansrounded-500-webfont.woff') format('woff'),
    url('../fonts/museosansrounded-500-webfont.ttf') format('truetype'),
    url('../fonts/museosansrounded-500-webfont.svg#museo_sans_rounded500') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSansRounded';
    src: url('../fonts/museosansrounded-700-webfont.eot');
    src: url('../fonts/museosansrounded-700-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/museosansrounded-700-webfont.woff') format('woff'),
    url('../fonts/museosansrounded-700-webfont.ttf') format('truetype'),
    url('../fonts/museosansrounded-700-webfont.svg#museo_sans_rounded700') format('svg');
    font-weight: 700;
    font-style: normal;
}

body {
    line-height: 1.4;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:after {
    text-decoration: none;
}

h1 {
    color: #0e83dc;
}

h5 {
    color: #566069;
}

header {
    position: relative;
    -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}

.top-bg {
    display: table;
    width: 100%;
    position: relative;
    height: 370px;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-bg:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-image: -webkit-gradient(linear, left bottom, left top, from(black), to(transparent));
    background-image: linear-gradient(to bottom, black, transparent);
}

header .content {
    position: relative;
    text-align: center;
    font-size: 30px;
    color: black;
    display: table-cell;
    vertical-align: middle;
    font-weight: 300;
    line-height: 1.1;
}

header .content span {
    display: block;
    padding: 5px 0;
}

header .content span:first-child {
    font-size: 40px;
}

.main {

    transform: scale(.9)
}

.title {
    font-size: 37px;
    color: #0e83dc
}

.box {
    display: table;
    margin: 10px 0;
    width: 100%;
    line-height: 1.2;
}

.box .fa {
    margin-right: 20px;
    font-size: 6em;
}

.box span {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    font-size: 38px;
    color: #0e83dc;
}

.box span span {
    font-size: 20px;
}

.login {
    padding-left: 10px;
}

.login .nav {
    padding-top: 10px;
}

.login .nav li {
    width: 50%;
    text-align: center;
}

.login .nav .nav-link {
    font-size: 32px;
    color: black;
    font-weight: 600;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.login .nav .active {
    background-color: rgba(0, 0, 0, 0.3);
}

.login .tab-content {
    background-color: rgba(20, 53, 26, 0.3);
    padding: 20px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
    /*    box-shadow: 0 2px 3px #e4e7ed;*/

}

.signup {
    color: black;
    font-size: 20px;
}

.signup label {
    padding-left: 10px;
}

.signup input {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 20px;
}

.logbtn {
    width: 100%;
    border-radius: 15px;
    height: 60px;
    font-weight: 600;
    color: black;
    background: #95D469;
    font-size: 30px;
    line-height: 1;
}

.text {
    line-height: 1;
    color: black;
    font-size: 16px;
    font-weight: 600;
    padding: 30px 0;
}

.or {
    display: block;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: 600;
}

#signtitle {
    display: block;
    color: black;
    font-size: 20px;
    font-weight: 600;
    padding-top: 30px;
}

.socialup img {
    border: solid 8px #b2b2b2;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    transition: 0.3s;
}

.socialup img:hover {
    border: solid 0;
    transition: 0.3s;
}

.socialup {
    text-align: center;
    padding: 20px 0;
}

.coin-info:hover {
    transform: scale(1.1);
    transition: .3s;
}

.coin-info {
    transition: .3s;
    float: left;
    position: relative;
    width: 150px;
    min-height: 170px;
    background: #fff;
    -webkit-box-shadow: 0 5px 10px 0 rgba(26, 44, 57, .2);
    box-shadow: 0 5px 10px 0 rgba(26, 44, 57, .2);
    border: 1px solid #cdd6dc;
    border-radius: 8px;
    margin: 15px 0;
    margin-right: 15px;

}

.partners .coin-info {
    margin-left: 15px;
}

.coin-info img {
    width: 90px;
    height: 90px;
    margin: 15px 0;
}

.listed, .partners {
    float: left;
    padding: 20px 15px;
    border-radius: 30px;
    color: #36434d;
    margin: 10px 0;
}

.partners b {
    font-size: 55px;
    position: relative;
    top: 7px;
}

.listed b {
    font-size: 55px;
    position: relative;
    top: 7px;
}

.listed h4 {
    color: #999999;
}

.partners h4 {
    color: #999999;
    min-width: 240px;
}

.listed h4:hover {
    color: #0e83dc
}

.partners h4:hover {
    color: #0e83dc
}

.partners {
    border-left: 2px solid #c6c8ca;
    border-bottom: 2px solid #c6c8ca;
}

.listed {
    border-right: 2px solid #c6c8ca;
    border-bottom: 2px solid #c6c8ca;
}

.listed h1 {
    position: relative;
    left: -20px;
}

.partners h1 {
    text-align: right;
}

.section2 {
    margin: 50px 0;
    float: left;
    width: 100%;
}

.ribbon-top-left {
    top: -30px;
    left: -30px;
}

.ribbon {
    transform: scale(.7);
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
}

.ribbon-top-left::before {
    top: 0;
    right: 0;
}

.ribbon-top-left::before, .ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
}

.ribbon::before, .ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #2980b9;
}

.ribbon-top-left::after {
    bottom: 0;
    left: 0;
}

.ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    background-color: #ed5565;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    color: #fff;
    font: 700 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-transform: uppercase;
    text-align: center;
}

.ribbon-top-left span {
    right: -25px;
    top: 30px;
    transform: rotate(-45deg);
}

.info-popup {
    -webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
    margin: 10px 0;
    padding: 10px 30px;
    border: 2px solid gray;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-size: 25px;
}

.footer-primary{
    float: left;
    width: 100%;
    background: #36434d;
    padding: 25px 0;
    font-size: 14px;
    line-height: 1.85;
}

.section1 {
    color: #0e83dc;
}

/* Home Info Page */
.info .navbar a {
    color: #808080 !important;
    font-size: 26px;
}

.logo img {
    max-width: 60px;
    margin-right: 10px;
    background-color: #0e83dc;
    padding: 5px;
    border-radius: 15px;
}

.logo span {
    color: #0e83dc;
}

.navbar {
    font-family: "MuseoSansRounded", sans-serif;
    -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.2);
    background-color: white;
    z-index: 10;
}

.navbar-nav a {
    padding: 5px;
    transition: 0.3s;
    border-radius: 10px;
}

.navbar-nav a:hover {
    text-decoration: none;
    background-color: rgb(60, 184, 212);
    color: white !important;
    padding: 5px;
    transition: 0.3s;
}

.info .navbar li {
    padding-left: 40px;
}

.info-1 {
    float: left;
    width: 100%;
    margin-top: 100px;
}

.info .title {
    float: left;
    font-size: 72px;
    text-align: center;
    width: 100%;
    padding: 20px 0;
}

.info-content {
    margin: 15px 0;
    float: left;
    width: 100%;
}

.info-content span {
    display: inline-block;
    position: relative;
}

.info-content .itext {
    display: block;
    vertical-align: middle;
    position: relative;
    top: 0;
    font-family: "MuseoSansRounded", sans-serif;
    line-height: 1.2;
}

.info-content .itext:first-child {
    font-size: 50px;
}

.info-content .itext:nth-child(2) {
    font-size: 20px;
}

.info-content:nth-child(even) span:first-child {
    padding-right: 10px;
}

.info-content:nth-child(odd) span:first-child {
    padding-left: 10px;
}

.info-content:nth-child(odd) span {
    float: right;
    text-align: right;
}

.info-content .fa {
    font-size: 6rem;
}

.info-2 {
    float: left;
    width: 100%;
    position: relative;
    padding: 10px 0;
    background-color: #B3B3B3;
}

.info-2 .title-2 {
    font-family: "MuseoSansRounded", sans-serif;
    font-size: 55px;
    line-height: 1;
    padding: 10px 0;
}

.title-2 span {
    display: block;
}

.info-2 .date {
    font-family: "MuseoSansRounded", sans-serif;
    font-size: 28px;
    padding: 10px 0;
}

.info-2 img {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
    height: 190px;
}

.info-2 button {
    font-family: "MuseoSansRounded", sans-serif;
    color: black;
    min-width: 260px;
}

.info-3 {
    float: left;
    width: 100%;
    position: relative;
    padding: 10px 0;
    background-color: #155671;
    color: white;
}

.info-3 .title-2 {
    font-family: "MuseoSansRounded", sans-serif;
    font-size: 55px;
    line-height: 1;
    padding: 10px 0;
}

.title-2 span {
    display: block;
}

.info-3 .date {
    font-family: "MuseoSansRounded", sans-serif;
    font-size: 28px;
    padding: 10px 0;
}

.info-3 img {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
    height: 190px;
}

.info-3 button {
    font-family: "MuseoSansRounded", sans-serif;
    color: black;
    min-width: 260px;
}

.stats {
    float: left;
    width: 100%;
    margin: 30px 0;
}

.stats .box {
    width: 100%;
    text-align: center;
}

.stats .box span {
    font-family: "MuseoSansRounded", sans-serif;
    font-size: 20px;
    display: block;
    width: 100%;
    margin: 15px 0;
}

.stats .box span:first-child {
    border-bottom: solid 1px rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
}

.stats .box span:nth-child(2) {
    font-size: 35px;
    font-weight: bold;
}

.listed .col-md-2 {
    padding: 0 10px !important;
}
.navbar-nav a {padding:0.5rem 2.5rem !important;}
.navbar-nav a:hover{background-color:#0e83dc !important;}

.footer-primary .f-logo {
    color: #fff;
}
.f-logo {
    display: block;
    font-weight: 500;
    color: #90959a;
    font-size: 16px;
    text-decoration: none !important;
}
.footer-primary .f-logo img {
    background: #fff;
}
.f-logo img {
    max-width: 45px;
    margin-right: 10px;
    background-color: #0e83dc;
    padding: 5px;
    border-radius: 15px;
}
.list-unstyled{
    padding-left: 0;
    list-style: none;
    line-height: 1.5;
    padding-top:9px;

}
.list-unstyled a{color:white;}
.footer-social{
    min-width: 175px;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    top: 5px;
left:-25px;}
.footer-social li {
    display: inline-block;
    line-height: 1;
    vertical-align: top;
    margin-left: 5px;
}
.footer-social li a {
    font-size: 30px;
    color: #fff !important;
}
.footer-primary .footer-copyright {
    padding: 10px 0;
    font-size: 12px;
    color:#90959a;
    margin:0;

}

