body {
    line-height: 1.4;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

header {
    position: relative;
    -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}

.top-bg {
    display: table;
    width: 100%;
    position: relative;
    height: 556px;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-bg:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-image: -webkit-gradient(linear, left bottom, left top, from(black), to(transparent));
    background-image: linear-gradient(to bottom, black, transparent);
}

header .content {
    position: relative;
    text-align: center;
    font-size: 39px;
    color: black;
    display: table-cell;
    vertical-align: middle;
}

header .content span {
    display: block;
    padding: 10px 0;
}

.main {
    margin: 50px 0;
}

.title {
    font-size: 38px;
    color: #333333
}

.box {
    display: table;
    margin: 10px 0;
    width: 100%;
    line-height: 1.2;
}

.box .fa {
    margin-right: 15px;
    font-size: 8em;
}

.box span {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    font-size: 38px;
    color: #333333;
}

.box span span {
    font-size: 20px;
}

.login {
    padding-left: 10px;
}

.login .nav {
    padding-top: 10px;
}

.login .nav li {
    width: 50%;
    text-align: center;
}

.login .nav .nav-link {
    font-size: 32px;
    color: black;
    font-weight: 600;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.login .nav .active {
    background-color: rgba(0, 0, 0, 0.3);
}

.login .tab-content {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.4);
}

.signup {
    color: black;
    font-size: 20px;
}

.signup label {
    padding-left: 10px;
}

.signup input {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 20px;
}

.logbtn {
    width: 100%;
    border-radius: 15px;
    height: 60px;
    font-weight: 600;
    color: black;
    background: #95D469;
    font-size: 30px;
    line-height: 1;
}

.text {
    line-height: 1;
    color: black;
    font-size: 16px;
    font-weight: 600;
    padding: 30px 0;
}

.or {
    display: block;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: 600;
}

#signtitle {
    display: block;
    color: black;
    font-size: 20px;
    font-weight: 600;
    padding-top: 30px;
}

.socialup img {
    width: 90px;
    height: 90px;
}

.socialup {
    text-align: center;
    padding: 20px 0;
}

.coin-info {
    position: relative;
    width: 100%;
    min-height: 200px;
    background: #fff;
    -webkit-box-shadow: 0 5px 10px 0 rgba(26, 44, 57, .2);
    box-shadow: 0 5px 10px 0 rgba(26, 44, 57, .2);
    border: 1px solid #cdd6dc;
    border-radius: 8px;
    margin: 25px 0;
}

.coin-info img {
    width: 120px;
    height: 120px;
    margin: 20px 0;
}

.listed {
    padding: 30px 5px;
    border-radius: 30px;
    border-right: 7px solid #DEB887;
    border-bottom: 3px solid #DEB887;
}

.partners {
    padding: 30px 5px;
    border-radius: 30px;
    border-left: 7px solid #DEB887;
    border-bottom: 3px solid #DEB887;
}

.section2 {
    margin: 50px 0;
}


.ribbon-top-left {
    top: -25px;
    left: -25px;
}

.ribbon {
    transform: scale(.8);
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
}

.ribbon-top-left::before {
    top: 0;
    right: 0;
}

.ribbon-top-left::before, .ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
}

.ribbon::before, .ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #2980b9;
}

.ribbon-top-left::after {
    bottom: 0;
    left: 0;
}

.ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    background-color: #ed5565;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    color: #fff;
    font: 700 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-transform: uppercase;
    text-align: center;
}

.ribbon-top-left span {
    right: -25px;
    top: 30px;
    transform: rotate(-45deg);
}